@model IEnumerable<Cinema.Models.Pelicula>

@{
    ViewBag.Title = "PorOrden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ÍNDICE</h2>

<ul>
    <li>@Html.ActionLink("Ordenar por nombre", "PorOrden", "Peliculas", new { opc = 1}, null)</li>
    <li>Ordenar por fecha</li>
    <li>Ordenar por género</li>
</ul>

<br /><br />
<table class="table">
    <thead>
        <tr scope="col">
            <th>Id</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Año de lanzamiento</th>
            <th>Clasificación</th>
        </tr>
    </thead>
    @foreach (var x in Model) { 
    <tbody>
        <tr>
            <td>@Html.DisplayFor(modelItem => x.Id)</td>
            <td>@Html.DisplayFor(modelItem => x.Nombre)</td>
            <td>@Html.DisplayFor(modelItem => x.Genero)</td>
            <td>@Html.DisplayFor(modelItem => x.AnioDeLanzamiento)</td>
            <td>@Html.DisplayFor(modelItem => x.Clasificacion)</td>
        </tr>
    </tbody>
    }
</table>