@model IEnumerable<Cinema.Models.Pelicula>
@{
    ViewBag.Title = "ResultadoBusqueda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listado de películas</h2>
<br />
<table class="table">
    <thead>
        <tr scope="col">
            <th>Id</th>
            <th>Nombre</th>
            <th>Genero</th>
            <th>Año de lanzamiento</th>
            <th>Mes</th>
            <th>Clasificación</th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => x.Id)</td>
                <td>@Html.DisplayFor(modelItem => x.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => x.Genero)</td>
                <td>@Html.DisplayFor(modelItem => x.AnioDeLanzamiento)</td>
                <td>@Html.DisplayFor(modelItem => x.Mes)</td>
                <td>@Html.DisplayFor(modelItem => x.Clasificacion)</td>
            </tr>
        </tbody>
    }
</table>
<a href="javascript: history.go(-1)">Regresar</a>
